<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:label="Slax Reader" android:usesCleartextTraffic="true"
                 android:theme="@android:style/Theme.Material.Light.NoActionBar"
                 android:icon="@mipmap/ic_launcher">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".extension.ShareActivity"
                  android:exported="true"
                  android:theme="@style/TransparentActivity"
                  android:taskAffinity=""
                  android:excludeFromRecents="true"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
    </application>
</manifest>