*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
**/xcshareddata/WorkspaceSettings.xcsettings
iosApp/*.xcodeproj
iosApp/Pods/
iosApp/Podfile.lock
*.xcworkspace
*.xcworkspace/xcuserdata
.swiftpm/xcode/package.xcworkspace
