/* 防止夜间模式影响 */
html {
  background-color: transparent !important;
  color-scheme: light only;
  -webkit-color-scheme: light;
}

body {
  background-color: transparent !important;
}

/* 块级元素重置 */
body,
h1, h2, h3, h4, h5, h6,
span:not(.katex):not(.katex span):not(pre span),
p,
div,
section,
article,
aside,
header,
footer,
nav,
main,
figure,
figcaption,
blockquote,
dl, dt, dd,
ul, ol, li,
form,
fieldset,
legend,
input,
textarea,
button,
select,
table,
caption,
tbody,
tfoot,
thead,
tr, th, td,
pre,
code,
hr,
canvas,
video,
audio {
  word-break: break-word;
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  color: #333333;
}

/* 全局字体设置 */
* {
  font-family:
    source-serif-pro,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}